<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Edit Category</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Create a Person:</h1>

<form th:action="@{/edit-category}" th:object="${category}" method="POST">
  Name       :
  <input type="text" th:field="*{name}" />
  <br/>
  Description:
  <input type="text" th:field="*{description}" />
  <br/>
  <input type="submit" value="Update Category" />
</form>

<br/>

</body>
</html>